<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/signup.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <title>Navbar</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="/Templates/index.html">
                    <img src="/static/img/logo1.png" alt="Logo">
                </a>
            </div>
            <ul class="nav-links">
                <li><a href="/Templates/dashboard.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">FAQs</a></li>
            </ul>
            <div class="user-actions">
                <div class="search">
                    <input type="text" placeholder="Search...">
                    <button><i class='bx bx-search'></i></button>
                </div>
                <a href="/Templates/login.html">
                    <button id="login-button">Login</button>
                </a>

                <a href="/Templates/signup.html">
                    <button id="signup-button">Sign Up</button>
                </a>
            </div>
        </nav>
    </header>

    <!-- Signup -->

    <form id="signup-form">
        {% csrf_token %}
        <div id="form-logo">
            <img src="/static/logo1.png" alt="logo">
        </div>
        <div class="signup-container">
            <h2>Sign Up</h2>
                <div class="form-column-left">
                    <h3 class="sign">PERSONAL DETAILS</h3><br>
                    <div class="form-group">
                        <label for="name">Name:</label><br>
                        <input type="text" class="signupid" id="name" name="myName">
                    </div><br>

                    <div class="form-group">    
                        <label for="date-of-birth">Date of Birth:</label><br>
                        <input type="dob" class="signupid" id="dob" name="Dob">
                    </div><br>

                    <div class="form-group">    
                        <label for="signup-email">Email:</label><br>
                        <input type="email" class="signupid" id="signup-email" name="signup-email">
                    </div><br>

                    <div class="form-group">    
                        <label for="signup-password">Password:</label><br>
                        <input type="password" class="signupid" id="signup-password" name="signup-password">
                    </div><br>

                    <div class="form-group">    
                        <label for="password">Re-Enter Password:</label><br>
                        <input type="password" class="signupid" id="re-enter-password" name="password">
                    </div><br>

                    <div class="form-group">    
                        <label for="phone">Phone:</label><br>
                        <input type="phone" class="signupid" id="phone" name="phone">
                    </div><br>

                    <div class="form-group">    
                        <label for="company">Company:</label><br>
                        <input type="text" class="signupid" id="company" name="company">
                    </div><br>

                    <div class="form-group">    
                        <label for="desigination">Desigination:</label><br>
                        <input type="text" class="signupid" id="desigination" name="desigination">
                    </div><br>

                    <div class="form-group">                   
                        <label for="industry">Industry:</label><br>
                        <input type="text" class="signupid" id="industry" name="industry">
                    </div><br>

                    <div class="form-group">                  
                        <label for="security-question">Security Question:</label><br>
                        <input type="text" class="signupid" id="security-que" name="security-que">
                    </div>
                    <div class="bt">    
                        <button id="signup-button" class="signup-bt">Sign Up</button><br><br>
                        <button type="reset" id="reset" class="signup-bt">Reset Now</button>
                        <a href="/Templates/login.html">
                            <h5 class="h">Already have an account?</h5><br>
                        </a>
                    </div>
                </div>

                <div class="form-column-right">
                    <h3 class="sign">BUSINESS DETAILS</h3><br>
                    <div class="form-group">                    
                        <label for="business-name">Business Name:</label><br>
                        <input type="text" class="signupid" id="business-name" name="business-name">
                    </div><br>

                    <div class="form-group">                    
                        <label for="business-goal">Business Goal:</label><br>
                        <input type="text" class="signupid" id="business-goal" name="business-goal">
                    </div><br>

                    <div class="form-group">                   
                        <label for="target">Target:</label><br>
                        <input type="text" class="signupid" id="target" name="target">
                    </div><br>

                    <div class="form-group">                   
                        <label for="type">Type:</label><br>
                        <input type="text" class="signupid" id="type" name="type">
                    </div><br>

                    <div class="form-group">
                        <label for="field">Field:</label><br>
                        <input type="text" class="signupid" id="field" name="field">
                    </div>
                </div>
            <!-- <div class="bt">    
                <button id="signup-button" class="signup-bt">Sign Up</button><br><br>
                <button type="reset" id="reset" class="signup-bt">Reset Now</button>
                <h5 class="h">Already have an account?</h5><br>
            </div> -->
        </div>
    </form>